<app-navbar></app-navbar>

<div class="main">
    <div class="card">
        <div class="card-list">
            <img src="../../../assets/images/hnf-curtain-2.webp" alt="image">
            <div class="name">
                <p>product Name</p>
                <p>Price</p>
                <button class="btn btn-danger">Remove</button>
                <div class="count">
                    <button>-</button>
                    <p class="text">0</p>
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class="card-list">
            <img src="../../../assets/images/hnf-curtain-2.webp" alt="image">
            <div class="name">
                <p>product Name</p>
                <p>Price</p>
                <button class="btn btn-danger">Remove</button>
                <div class="count">
                    <button>-</button>
                    <p class="text">0</p>
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class="card-list">
            <img src="../../../assets/images/hnf-curtain-2.webp" alt="image">
            <div class="name">
                <p>product Name</p>
                <p>Price</p>
                <button class="btn btn-danger">Remove</button>
                <div class="count">
                    <button>-</button>
                    <p class="text">0</p>
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class="card-list">
            <img src="../../../assets/images/hnf-curtain-2.webp" alt="image">
            <div class="name">
                <p>product Name</p>
                <p>Price</p>
                <button class="btn btn-danger">Remove</button>
                <div class="count">
                    <button>-</button>
                    <p class="text">0</p>
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class="card-list">
            <img src="../../../assets/images/hnf-curtain-2.webp" alt="image">
            <div class="name">
                <p>product Name</p>
                <p>Price</p>
                <button class="btn btn-danger">Remove</button>
                <div class="count">
                    <button>-</button>
                    <p class="text">0</p>
                    <button>+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="transaction">
        
    </div>
</div>
