nav{
    padding:30px;
}
.breadcrumb-item{
    font-size: 20px;
}
.main{
    display: flex;
    justify-content: space-between;
}
.filter{
    width: 600px;
    margin-left: 100px;
}
h4{
    font-size: 20px;
    font-weight: 500;
}
span{
    margin-left: 10px;
    text-transform: capitalize;
}
.form-select{
    width: 50%;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}
.product{
    flex: 1;
    padding:10px;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top:10px;
    padding: 20px;
    border-radius: 5px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.text{
    flex: 1;
    margin-left: 30px;
}
option{
    text-transform: capitalize;
}
@media (max-width:768px) {
    .main{
        flex-direction: column;
        overflow-x: hidden;
    }
    .filter{
        margin-left: 50px;
    }
    .product{
        overflow-x: hidden;
    }
    .card{
        flex-direction: column;
        width: 400px;
        margin: 10px auto;
    }
    .text{
        flex: 0;
        margin-left: 0px;
        margin-top: 10px;
    }
}