.product{
    width: 100%;
    background-color: whitesmoke;
}
nav{
    padding:30px;
}
.breadcrumb-item{
    font-size: 20px;
}
.list{
    align-items: center;
    justify-content: center;
}
.arrow{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    padding: 10px;
}
.card-title{
    font-size: 14px;
    font-weight: 500;
    padding:10px;
    letter-spacing: 1px;
}
button{
    margin-bottom: 20px;
    cursor: pointer;
}

