
<app-navbar></app-navbar>
<div class="container-fluid product">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">All Product Listing</li>
          </ol>
        </nav>
        <div class="row gap-4 list">
          <div class="col col-sm-2 col-md-4 col-lg-3" *ngFor="let product of allProduct">
                <div class="card">
                  <img class="card-img-top" [src]="product.pdImg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{product.pdName}}</h5>
                  </div>
                  <a href="#" routerLink="/products/{{product.pdCategory}}"><button class="btn btn-primary">View More</button></a>
                </div>
          </div>
    </div>
</div>

